.rectangle-copy{
width: 730px;
height: 500px;
margin-right: auto;
margin-left: auto;
flex-shrink: 0;
border-radius: 15px;
background: #FEFEFE;
box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
position: relative;
margin-top: 10px;
}

.rectangle-copydark{
width: 730px;
height: 500px;
margin-right: auto;
margin-left: auto;
flex-shrink: 0;
border-radius: 15px;
background: #1E2A47;
position: relative;
margin-top: 10px;
}

.bitmap{
    margin-top: 48px;
    margin-left: 48px;
    width: 117px;
    height: 117px;
    border-radius: 50px;
}

.cardgroup1{
    display: flex;
}

.cardtext1{
color: #2B3442;
font-family: monospace;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.cardtext1a{
   
    color: #fdfeff;
    font-family: monospace;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* Date light mode */
.cardtext2{
    color: #9c73af;
text-align: right;
font-family: monospace;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


/* Date Dark mode */
.cardtext2a{
    color: #ffffff;
text-align: right;
font-family: monospace;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


/* Login name */
.cardtext3{
    color: #0079FF;
font-family: monospace;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 79px;
height: 24px;
position: absolute;
left: 195px;
top: 90px;
}


/* Profile bio */
.cardgroup4{
    width: 480px;
    height: 25px;
    position: absolute;
    left: 202px;
    top: 129px;
}

.cardtext4{
    color: #4B6A9B;
font-family: monospace;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 166.667% */
opacity: 0.75;
}

.cardtext4a{
    color: #ffffff;
font-family: monospace;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 25px;
opacity: 0.75;
}

.cardgroup3{
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
align-items: center;
margin-top: 52px;
margin-left: 30px;
}


/* repos follwers following  light screen*/
.cardgroup6{
    width: 480px;
    height: 85px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 202px;
    top: 186px;
    margin-right: 48px;
    border-radius: 10px;
    background: #F6F8FF;
}

/* repos follwers following  dark screen*/
.cardgroup6a{
    width: 480px;
    height: 85px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 202px;
    top: 186px;
    margin-right: 48px;
    border-radius: 10px;
    background: #141D2F;
}

.cardgroup7{
    margin-left: 32px;
    margin-top: 15px;
}


.cardgroup8{
    position: absolute;
    left: 171px;
    margin-top: 15px;
}


.cardgroup9{
    position: absolute;
    left: 325px;
    margin-top: 15px;
    
}

.cardtext5{
color: #4B6A9B;
font-family: monospace ;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.cardtext5a{
color: white;
font-family: monospace ;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.cardtext6{
color: #2B3442;
font-family: monospace;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
position: relative;
bottom: 5px;
}

.cardtext6a{
    color: #ffffff;
    font-family: monospace;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    bottom: 5px;
    }

.cardgroup10{
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardgroup11{
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* location twitter */
.cardgroup12{
    width: 430px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 300px;
    margin-left: 48px;
}

.cardtext7{
    color: #4B6A9B;
font-family: monospace;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 17px;
}

.cardtext7a{
    color: #ffffff;
    font-family: monospace;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 17px;
}

  /* url and office */
.cardgroup13{
    width: 490px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 350px;
    margin-left: 48px;
}

.cardgroup14{
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardgroup15{
    width: 130px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.cardtext8{
    color: #4B6A9B;
font-family: monospace;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 17px;
margin-left: 20px;
}

.cardtext8a{
    color: #ffffff;
font-family: monospace;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 17px;
margin-left: 20px;
}






@media screen and (min-width: 901px) and (max-width: 1200px) {
    .rectangle-copy,
    .rectangle-copydark{
        width: 630px;
        margin-right: 200px;
        margin-left: 150px;
        }
    
        /* Date Dark mode */
    .cardtext2a{
        position: relative;
        top: 60px;
        left: -295px;
    }

    /* Date light mode */
    .cardtext2{
        position: relative;
        top: 60px;
        left: -295px;
    }

        /* Profile bio */
    .cardgroup4{
        position: relative;
        top: 80px;
        left: -110px;
        width: 520px;
    }
        /* repos follwers following  */
    .cardgroup5{
        position: relative;
        top: -55px;
        left: -310px;
    }

    /* repos follwers following  */
    .cardgroup6,
    .cardgroup6a{
       width: 520px;
    }

    /* location twitter */
    .cardgroup12{
        position: relative;
        top: 300px;
        left: 155px;
    }

        /* url and office */
    .cardgroup13{
        position: relative;
        top: 310px;
        left: 155px;
    } 
  }
  
  
  @media screen and (min-width: 701px) and (max-width: 900px) {
    .rectangle-copy,
    .rectangle-copydark{
        width: 450px;
        margin-right: 100px;
        margin-left: 100px;
        }

              /* Date */
     .cardtext2,
     .cardtext2a{
        position: relative;
        top: 60px;
        left: -295px;
    }

        /* Profile bio */
    .cardgroup4{
        position: relative;
        top: 80px;
        left: -140px;
        width: 420px;
    }
        /* repos follwers following  */
    .cardgroup5{
        position: relative;
        top: -55px;
        left: -310px;
    }

    /* repos follwers following  */
    .cardgroup6,
    .cardgroup6a{
       width: 420px;
       position: relative;
       left: 160px;
    }

    /* location twitter */
    .cardgroup12{
        position: relative;
        top: 200px;
        left: 120px;
        width: 400px;
    }

        /* url and office */
    .cardgroup13{
        position: relative;
        top: 210px;
        left: 120px;
        width: 420px;
    }

    .cardtext8,
    .cardtext8a {
        width: 200px;
        overflow-wrap: break-word;
    } 
  }
  


  
  @media screen and (min-width: 501px) and (max-width: 700px) {
    .rectangle-copy,
    .rectangle-copydark{
        height: 550px;
        width: 380px;
        margin-right: 50px;
        margin-left: 50px;
        }

              /* Date Dark mode */
    .cardtext2,
    .cardtext2a{
        position: relative;
        top: 60px;
        left: -295px;
    }


      /* username text */
      .cardtext1,
      .cardtext1a{
          width: 200px;
          overflow-wrap: break-word;
      }

      /* date text */
      .cardtext2,
      .cardtext2a{
          margin-top: 25px;
      }


              /* Login name */
.cardtext3{
    margin-top: 25px;
}


        /* Profile bio */
    .cardgroup4{
        position: relative;
        top: 80px;
        left: -150px;
        width: 350px;
    }
        /* repos follwers following  */
    .cardgroup5{
        position: relative;
        top: -40px;
        left: -350px;
    }

    /* repos follwers following  */
    .cardgroup6,
    .cardgroup6a{
       width: 350px;
    }
    
    .cardgroup8{
        position: relative;
        left: -150px;
    }

    .cardgroup9{
        position: absolute;
        left: 250px;
    }


    .cardgroup10{
        position: relative;
        top: -25px;
        left: 160px;
    }

    .cardgroup14{
        position: relative;
        top: -40px;
        left: 160px;
    }


    /* twitter */
    .cardgroup11{
        position: relative;
        top: 50px;
        left: -140px;
    }

    /* twitter text */
    .cardtext7a.seven,
    .cardtext7.seven{
        position: relative;
        top: 0px;
        left: 20px;
        width: 300px;
    }


    /* url api */
    .cardtext8,
    .cardtext8a {
        width: 350px;
        overflow-wrap: break-word;
    } 

    /* office */
    .cardgroup15{
        position: relative;
        left: -200px;
        top: 40px;
    }
  }
  




  
  @media screen and (max-width: 500px) {
    .rectangle-copy,
    .rectangle-copydark{
        height: 550px;
        width: 330px;
        margin-left: 50px;
        }

        .bitmap{
            margin-top: 28px;
            margin-left: 28px;
            width: 80px;
            height: 80px;
            border-radius: 50px;
        }

        /* username and date */
        .cardgroup3{
        width: 450px;
        margin-top: 30px;
        margin-left: 20px;
        }

        /* username text */
        .cardtext1,
        .cardtext1a{
            width: 200px;
            overflow-wrap: break-word;
        }

        /* date text */
        .cardtext2,
        .cardtext2a{
            margin-top: 25px;
        }

        /* Login name */
.cardtext3{
    margin-top: 22px;
position: absolute;
left: 125px;
top: 70px;
}

    /* Date Dark mode */
    .cardtext2,
    .cardtext2a{
        position: relative;
        top: 60px;
        left: -295px;
    }
          
          
        /* Profile bio */
    .cardgroup4{
        position: relative;
        top: 70px;
        left: -90px;
        width: 290px;
    }
        /* repos follwers following  */
    .cardgroup5{
        position: relative;
        top: -40px;
        left: -295px;
    }

    /* repos follwers following  */
    .cardgroup6,
    .cardgroup6a{
        width: 300px;
    }

    /* Followers */
    .cardgroup8{
        position: relative;
        left: -130px;
    }

    /* Following */
    .cardgroup9{
        position: absolute;
        left: 200px;
    }


    .cardgroup10{
        position: relative;
        top: -25px;
        left: 160px;
    }

    .cardgroup14{
        position: relative;
        top: -40px;
        left: 160px;
    }


    /* twitter */
    .cardgroup11{
    margin-top: 5px;
        position: relative;
        top: 50px;
        left: -140px;
    }

    /* twitter text */
    .cardtext7a.seven,
    .cardtext7.seven{
        position: relative;
        top: 0px;
        left: 20px;
        width: 300px;
    }


    /* url api */
    .cardtext8,
    .cardtext8a {
        width: 250px;
        overflow-wrap: break-word;
    } 

    /* office */
    .cardgroup15{
        position: relative;
        left: -200px;
        top: 40px;
    }
  } 
  
  
  
  
  
  