.group7{
    margin-left: 355px;
    position: absolute;
    top: 218px;
    width: 730px;
    height: 69px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background: #FEFEFE;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
}

.group7dark{
    margin-left: 355px;
    position: absolute;
    top: 218px;
    width: 730px;
    height: 69px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background: #1E2A47;
}

input {
    flex: 1;
    border: none;
    outline: none;
    padding: 20px;
    background-color: #ffffff;
    width: 300px;
    height: 20px;
    margin-left: 200px;
    margin-right: 396px;
  } 




input::placeholder {
    color: #4B6A9B;
    font-family: monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    width: 254px;
    height: 25px;
    margin-left: 80px;
    margin-top: 22px;
      }




.shape-icon{
    margin-left: 20px;
    width: 24.058px;
    height: 24px;
    flex-shrink: 0;
      }


      .search-text{
    color: #FFF;
    font-family: monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 12px;
    margin-left: 24px;
      }


      
button {
  border-radius: 28px; 
  background: #007BFF; 
  color: white; 
  cursor: pointer;
  border: none;
  width: 106px;
height: 50px;
flex-shrink: 0;
}

button:hover {
  background: #0056b3; /* Example background color on hover */
}


.error-container{
  position: absolute;
  right: 120px;
  top: 30px;
}

.error-message{
  color: red;
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
}
.error-message1{
  color: white;
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
}


