.App{
width: 1440px;
height: 800px;
background: rgb(221, 125, 125);
}

.Appdark{
    width: 1440px;
    height: 800px;
    background: #141D2F;
}

.loading{
    position: relative;
    left: 600px;
    top: 120px;
  
}

.text-light {
    
    position: relative;
    left: 600px;
    top: 120px;
    
  }

